body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  text-align: center;
  
}
#center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.artist-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.artist-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.artist-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.artist-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.artist-bio {
  color: #555;
  line-height: 1.6;
}

.artist-social {
  margin-top: 10px;
}

.artist-social a {
  display: inline-block;
  margin: 0 5px;
  color: #333;
  text-decoration: none;
}

.artist-social a:hover {
  text-decoration: underline;
}
button{
 background-color: black;
 color: white;
}